:host {
  --arrow-width: 50px;
  --arrow-height: 50px;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &>.arrow-buttons {
    width: var(--arrow-width);
    height: var(--arrow-height);

    background-color: transparent;

    position: absolute;
    top: 50%;

    transform: translate(0, -50%);

    &.arrow-left {
      left: 0;
    }

    &.arrow-right {
      right: 0;
    }

    &>svg {
      fill: var(--black);
    }

    &:active {
      animation: arrow_click 0.3s linear 0s 1 normal forwards;
    }
  }

  &>div {
    width: calc(100% - (var(--arrow-width) * 2));

    &>#carousel-body {
      width: 100%;
      min-height: 200px;
  
      padding: 20px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      &>#items {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10%;
  
        overflow-x: hidden;
      }
    }
  
    &>#page-map {
      width: auto;
      height: 20px;
  
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
  
      &>span {
        display: inline-block;
  
        width: 10px;
        height: 10px;
  
        border-radius: 5px;
  
        border: 1px solid var(--black);
  
        &.active {
          background-color: var(--black);
        }
      }
    }
  }
}

@keyframes arrow_click {
  0% {
    width: var(--arrow-width);
    height: var(--arrow-height);
  }

  50% {
    width: calc(var(--arrow-width) * 1.1);
    height: calc(var(--arrow-height) * 1.1);
  }

  100% {
    width: calc(var(--arrow-width) * 1.2);
    height: calc(var(--arrow-height) * 1.2);
  }
}

@media (max-width: 1000px) {
  :host {
    --arrow-width: 30px;
    --arrow-height: 30px;

    &>.arrow-buttons {
      width: var(--arrow-width);
      height: var(--arrow-height);
    }
  }
}