<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="logo-section">
        <div id="logo">
          <a [routerLink]="['/']">
            <img src="images/logo-light.svg" alt="PunkCode Solution" />
          </a>
        </div>
        <p class="logo-name">PunkCode Solution</p>
      </div>

      <div class="links-section">
        <div class="links-column">
          <h3>Consectetur</h3>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
        </div>

        <div class="links-column">
          <h3>Consectetur</h3>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
        </div>

        <div class="links-column">
          <h3>Consectetur</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            iaculis, velit eget pretium elementum, lacus nisi auctor libero
          </p>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>© 2025 PunkCode Solution. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
