<section class="services-container">

  <i></i>

  <section>
    <h3>
        Desenvolvimento Web
    </h3>
    <p>
        Sites institucionais, e-commerces e aplicações web
        modernas e responsivas.
    </p>
  </section>
  <section class="services-content">

    <div>
      <i icon="fa-check" ></i>
      <span>Design responsivo</span>
    </div>

    <div>
      <i icon="fa-check" ></i>
      <span>SEO otimizado</span>
    </div>

    <div>
      <i icon="fa-check" ></i>
      <span>Performace alta</span>
    </div>

    <div>
      <i icon="fa-check" ></i>
      <span>Segurança avançada</span>
    </div>

  </section>
</section>
