<navbar></navbar>
<main>

  <section class="about-hero">
    <div class="hero-content">
      <h1>Sobre Nós</h1>
      <p>Somos uma empresa de tecnologia apaixonada pro transformar ideias em soluções digitais inovadoras</p>
    </div>
  </section>
  <section class="about-hero-1">
    <div class="hero-content-1">
      <h3>Nossa História</h3>
      <p>Somos uma empresa de tecnologia apaixonada pro transformar ideias em soluções digitais inovadoras</p>
    </div>
  </section>
  <section class="about-hero-2">
    <div class="hero-content-2">
      <h3>Nossos Números</h3>
      <p>Resultados que comprovam nossa dedicação e qualidade</p>
    </div>
  </section>

  <div class="steps-container">
    <div class="step">
      <div class="step-icon-container">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
      </div>
      <h3>1. Análise</h3>
      <p>Entendemos profundamente suas necessidades e objetivos de negócio.</p>
    </div>

    <div class="step">
      <div class="step-icon-container">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <h3>2. Planejamento</h3>
      <p>Criamos uma estratégia detalhada e cronograma de desenvolvimento.</p>
    </div>

    <div class="step">
      <div class="step-icon-container">
        <i class="fa-solid fa-code"></i>
      </div>
      <h3>3. Desenvolvimento</h3>
      <p>Codificamos sua solução com as melhores práticas e tecnologias.</p>
    </div>

    <div class="step">
      <div class="step-icon-container">
        <i class="fa-solid fa-rocket"></i>
      </div>
      <h3>4. Entrega</h3>
      <p>Implementamos, testamos e colocamos sua solução em produção.</p>
    </div>
  </div>

</main>
<app-footer></app-footer>
