<navbar></navbar>
<main>

  <section class="about-hero">
    <div class="hero-content">
      <h1>Sobre Nós</h1>
      <p>Somos uma empresa de tecnologia apaixonada pro transformar ideias em soluções digitais inovadoras</p>
    </div>
  </section>
  <section class="about-hero-1">
    <div class="hero-content-1">
      <h3>Nossa História</h3>
      <p>Somos uma empresa de tecnologia apaixonada pro transformar ideias em soluções digitais inovadoras</p>
    </div>
  </section>
  <section class="about-hero-2">
    <div class="hero-content-2">
      <h3>Nossos Números</h3>
      <p>Resultados que comprovam nossa dedicação e qualidade</p>
    </div>
  </section>



</main>
<app-footer></app-footer>
