/* Reset CSS - Begin */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 18px;
}

html, body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

/* Reset CSS - End */

/* Variables - Begin */

:root {
  --menu-height: 80px;

  --light-green: #F2F6EE;
  --dark-green: #0D4318;
  --black: #0C0C0C;

  --quantico-font: "Quantico", sans-serif;

  --background: linear-gradient(9deg, rgba(13, 67, 24, 1) 0%, rgba(13, 115, 47, 1) 50%, rgba(6, 78, 59, 1) 100%);

  --light-background: linear-gradient(9deg, #F2F6EE 0%, #0D4318 50%, #F2F6EE 100%);

}

.default {

  background: linear-gradient(9deg, rgba(13, 67, 24, 1) 0%, rgba(13, 115, 47, 1) 50%, rgba(6, 78, 59, 1) 100%);

}

.gradient-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(9deg, rgba(13, 67, 24, 1) 0%, rgba(13, 115, 47, 1) 50%, rgba(6, 78, 59, 1) 100%);
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;
}

.gradient-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  pointer-events: none;

  background-image:
    repeating-linear-gradient(
      60deg,
      rgba(144, 238, 144, 0.05),
      rgba(144, 238, 144, 0.05) 1px,
      transparent 5px,
      transparent 100px
    ),
    repeating-linear-gradient(
      120deg,
      rgba(144, 238, 144, 0.05),
      rgba(144, 238, 144, 0.05) 1px,
      transparent 5px,
      transparent 50px
    );

  animation: moveLines 60s linear infinite;
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveLines {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25%, -25%);
  }
}




/* Variables - End */

/* General settings - Begin */

body {
  width: 100%;
  min-height: 100vh;

  background-color: var(--light-green);
  font-family: var(--quantico-font);
}

h1 {
  font-size: 3.625rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.375rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 0.5rem;
}

p {
  font-size: 1.125rem;
}

.container {
  max-width: 1500px;
  width: 95%;

  margin: 0 auto;
}

/* General settings - End */

/* Media queries - Begin */

@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

/* Media queries - End */
