<section class="solutions-section">
  <h2 class="solutions-title">Criamos Soluções para o Futuro</h2>
  <div class="solutions-grid">
    <app-soluction 
        icon="fa-hand-holding-usd"
        title="Design que vende"
        description="Criamos designs modernos e estratégicos, focados em converter visitantes em clientes.">
    </app-soluction>
    <app-soluction 
        icon="fa-tv"
        title="Sistema sob medida"
        description="Desenvolvemos soluções personalizadas, feitas exclusivamente para alavancar o seu negócio.">
    </app-soluction>
    <app-soluction 
        icon="fa-clock"
        title="Suporte sem enrolação"
        description="Time técnico disponível para solucionar seu problema sem perda de tempo, sem enrolação.">
    </app-soluction>
  </div>
</section>
