<section class="solutions-section">
    <h2 class="solutions-title">Criamos Soluções para o Futuro</h2>
    <div class="solutions-grid">

      <section>
        <div class="solution">
          <i icon="fa-hand-holding-usd" ></i>
          <h3>Design que vende</h3>
          <p>Criamos designs modernos e estratégicos, focados em converter visitantes em clientes</p>
        </div>
      </section>

      <section>
        <div class="solution">
          <i icon="fa-tv"></i>
          <h3>Sistema sob medida</h3>
          <p>Desenvolvemos soluções personalizadas, feitas exclusivamente para alavancar o seu negócio</p>
        </div>
      </section>

      <section>
        <div class="solution">
          <div>
            <i icon="fa-clock"></i>
          </div>
          <h3> Suporte sem enrolação</h3>
          <p>Time técnico disponível para solucionar seu problema sem perda de tempo, sem enrolação.</p>
        </div>
      </section>

    </div>

  </section>
