:host {
  display: block;
  margin-top: 2rem;
  margin-bottom: 3rem;

  &>.solutions-section {
    background: var(--light-green);
    padding: 8rem 2rem 2rem 2rem;
    text-align: center;

    &>.solutions-title {

      font-size: 3rem;
      margin-bottom: 2rem;
      color: var(--dark-green);
      font-weight: 600;
      line-height: 1.2;

    }

    .solution {
      background: var(--light-green);
      border-radius: 0;
      padding: 2rem;
      box-shadow: none;
      transition: none;
      width: 100%;
      max-width: 340px;
      text-align: center;
      border: none;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .icon {
      font-size: 2.8rem;
      color: #174c1b;
      margin-bottom: 1.2rem;
      font-weight: bold;
    }

    h3 {
      color: #142d13;
      font-size: 1.15rem;
      margin-bottom: 0.7rem;
      font-weight: 700;
      letter-spacing: 0.2px;
    }

    p {
      color: #222;
      line-height: 1.4;
      font-size: 0.98rem;
      margin: 0;
      font-weight: 400;
    }


    &>.solutions-grid {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 4rem;
      max-width: 1600px;
      margin: 0 auto;
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    &>.solutions-section {
      padding: 2rem 0.5rem 1.5rem 0.5rem;

      &>.solutions-title {
        font-size: 2.0rem;
      }

      &>.solutions-grid {
        max-width: 80%;
        gap: 2rem;

      }

    }
  }

  @media (max-width: 768px) {
    &>.solutions-section {
      padding: 2rem 0.5rem 1.5rem 0.5rem;

      &>.solutions-title {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }

      &>.solutions-grid {
        max-width: 100%;
        gap: 1.5rem;
      }      

    }

  }

  @media (max-width: 425px) {
    &>.solutions-section {
      padding: 2rem 0.5rem 1.5rem 0.5rem;

      &>.solutions-title {

        font-size: 2rem;
        margin-bottom: 2rem;

      }

      &>.solutions-grid {
        max-width: 100%;
        gap: 1.5rem;
      }

    }

    &>.solutions {
      padding: 0rem 0rem 0rem 0rem;
    }

  }
}
